/* Active Tab (Mengapa Memilih UP) */
    .dot {
        width: 16px !important;
        height: 16px !important;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        background-color: #c4c4c4 !important;
        border-radius: 9999px;
        position: relative;
        z-index: 20;
    }

    .active-tab .dot {
        background-color: #2563eb !important;
    }

    .tab-btn:hover .dot {
        background-color: #2563eb !important;
    }

    .active-tab span {
        color: #2563eb !important;
    }
/* End Active Tab (Mengapa Memilih UP) */

#scrollTopBtn {
    font-size: 22px;
    font-weight: bold;
}
